<<<<<<< HEAD
<<<<<<< HEAD
footer{
	background-color:white;
	height:60px;
	width:100%;
	border-top:1px solid #CCCCCC;
	position:fixed;
	bottom:0;
	text-align:center;
	align-items:center;
	justify-content:center;
	line-height:30px;
}
=======
=======
>>>>>>> 37ec9f2d9976cfbd80bf8b6ebbde58e60dd6684c
footer {
    position: fixed;
    background: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}
<<<<<<< HEAD
>>>>>>> 37ec9f2d9976cfbd80bf8b6ebbde58e60dd6684c
=======
>>>>>>> 37ec9f2d9976cfbd80bf8b6ebbde58e60dd6684c
